@import "tailwindcss";

/* App height */
html, body, #root { height: 100%; }

/* System fonts + theme colors */
:root {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";

  /* Theme color variables */
  --color-primary: #573289;
  --color-primary-rgb: 87, 50, 137;
  --color-success: #00C853;
  --color-warning: #FFB300;
  --color-danger: #D32F2F;
  --color-border: #4F378B;
  --color-background: #FFFFFF;
  --color-shadow: #000000;

  --shadow-soft: 0 0 20px rgba(0, 0, 0, 0.3);
  --shadow-select: 0 0 30px rgba(113, 12, 246, 0.8);
}

/* Base body style */
body {
  margin: 0;
  background: var(--color-background);
  color: #0f172a;
}
